.bio-match-section {
  max-width: 1440px;
  margin: 72px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.bio-match-left {
  max-width: 486px;
  margin-left: 144px;
}

.bio-match-left h2 {
  margin-top: 18px;
}

.bio-match-left p {
  margin-top: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.bio-match-left button {
  margin-top: 40px;
  width: 201px;
  height: 38px;
}

.bio-match-right {
  width: 630px;
  height: 575px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.bio-match-right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1024px) {
  .bio-match-section {
    flex-direction: column;
    padding: 0 18px;
    margin: 36px auto 0 auto;
    gap: 72px;
  }

  .bio-match-left {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .bio-match-left h2 {
    margin-top: 27px;
  }

  .bio-match-left p {
    margin-top: 18px;
  }

  .bio-match-left button {
    margin-top: 36px;
  }

  .bio-match-right {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
  }

  .bio-match-right video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}
