.footer {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 72px;
}

.footer-news-letter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-news-letter p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

.footer-news-letter .news-letter-form {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.news-letter-form input {
  max-width: 476px;
  width: 100%;
  padding: 8px 10px;
  outline: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.news-letter-form input::placeholder {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-links-wrapper {
  margin-top: 36px;
  padding-top: 36px;
  padding-bottom: 72px;
  display: flex;
  justify-content: space-between;
}

.footer-links-wrapper .logo {
  max-width: 346px;
  width: 100%;
  min-height: 181px;
}

.footer-links-wrapper .social-links {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 36px;
}

.footer-links-right {
  display: flex;
  gap: 90px;
}

.footer-copyright {
  margin-top: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.quick-links {
  gap: 18px;
}

.quick-links-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.quick-links-header p {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.32px;
  color: var(--primary-color);
  margin: 0;
}

.toggle-icon {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
  transition: transform 0.3s ease;
}

.toggle-icon {
  display: none;
}

.footer-links {
  max-height: none;
  opacity: 1;
  overflow: visible;
  transition: none;
}

.footer-links li {
  margin-top: 18px;
}

.footer-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.32px;
}

@media screen and (max-width: 1192px) {
  .footer-links-wrapper {
    flex-direction: column;
    gap: 36px;
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    padding: 36px 18px;
  }

  .footer-news-letter .news-letter-form {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .news-letter-form input {
    width: 100%;
    padding: 12px 20px;
  }

  .footer-links-wrapper {
    flex-direction: column;
    gap: 36px;
    padding-top: 0px;
    padding-bottom: 36px;
  }

  .footer-links-wrapper .logo {
  max-width: 266px;
  width: 100%;
  min-height: 141px;
}

  .footer-links-right {
    flex-direction: column;
    gap: 24px;
  }

  .footer-links {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }

  .footer-links.open {
    max-height: 500px;
    opacity: 1;
  }

  .toggle-icon {
    display: inline-block;
  }

  .footer-copyright {
    margin-top: 36px;
    color: var(--primary-color);
  }
}
