/* @font-face {
  font-family: 'CircularXX';
  src: url(../asset//fonts//CircularXX-Regular.otf);
} */

@font-face {
  font-family: 'CircularXX';
  src: url('../asset/fonts/CircularXX-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularXX';
  src: url('../asset/fonts/CircularXX-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularXX';
  src: url('../asset/fonts/Recoleta-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CircularXX';
  src: url('../asset/fonts/CircularXX-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CircularXX';
  src: url('../asset/fonts/CircularXX-ExtraBlack.otf');
  font-weight: 800;
  font-style: normal;
}

:root {
  --primary-color: #3e6d3d;
  --seconday-color: #ebf1ce;
  --light-primary-color: #dbedea;
  --text-color: white;
  --container-width: 1440px;
  --border-color: #69c04b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CircularXX;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

img {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.main-heading {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: -1.26px;
  color: var(--primary-color);
}

@media screen and (max-width: 1024px) {
  .main-heading {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.62px;
  }
}

.main-btn {
  font-family: CircularXX;
  background-color: var(--primary-color);
  color: var(--text-color);
   border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  cursor: pointer;
  text-transform: uppercase;
}
