.hero-section {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.hero-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-swiper,
.hero-swiper .swiper-wrapper,
.hero-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.hero-content {
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-top: 407px;
  padding-bottom: 103px;
  padding-left: 72px;
  z-index: 1;
}

.hero-content-card {
  background-color: var(--primary-color);
  max-width: 559px;
  max-height: 290px;
  height: 100%;
  padding: 48px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 36px;
}

.hero-content-card h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  color: var(--text-color);
  letter-spacing: -0.6px;
}

.hero-content-card button {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  border-radius: 30px;
  line-height: 20px;

  border: none;
  color: var(--primary-color);
  width: 143px;
  height: 38px;
  cursor: pointer;
}

.pagination-container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.pagination-container .swiper-pagination {
  margin-top: 18px;
  display: flex;
  gap: 5px;

  width: 100% !important;
  position: absolute !important;
  margin-left: 72px;
  left: 18px !important;
  bottom: 70px !important;
}

.pagination-container .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.pagination-container .swiper-pagination-bullet-active {
  background: transparent;
  border: 2px solid white;
  transform: scale(1.3);
}

@media (max-width: 768px) {
  .hero-section {
    height: 600px;
  }

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 22px 18px;
    text-align: center;
  }

  .pagination-container .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 5px;

    width: 100% !important;
    margin: 0 auto;
    position: absolute !important;
    left: 0px !important;
    bottom: 380px !important;
  }

  .hero-content-card {
    align-items: center;
    max-width: 100%;
    gap: 18px;
    padding: 36px;
    height: auto;
    border-radius: 30px;
  }

  .hero-content-card h1 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.32px;
  }
}

@media screen and (max-width: 609px) {
  .pagination-container .swiper-pagination {
    bottom: 340px !important;
  }
}

@media screen and (max-width: 385px) {
  .pagination-container .swiper-pagination {
    bottom: 300px !important;
  }
}
