.shop-collection-section {
  max-width: var(--container-width);
  width: 100%;
  margin: 90px auto 0 auto;
  background-color: var(--seconday-color);
  padding-bottom: 90px;
}

.collection-swiper-header-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 90px 72px 0 72px;
}

.collection-swiper-header {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.collection-swiper-header-left button {
  width: 242px;
  height: 38px;
}

.collection-swiper-arrows {
  display: flex;
  align-items: center;
  gap: 18px;
}

.collection-swiper-arrows img {
  cursor: pointer;
  max-width: 83px;
  max-height: 56px;
}

.collection-swiper-arrows img.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.collection-swiper-arrows-mobile img.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.collection-swiper-inner {
  max-width: 1440px;
  /* margin: 0 auto; */
  margin-left: 72px;
  position: relative;
}

.collection-swiper-inner .swiper {
  width: 100%;
  height: 100%;
  margin: 36px auto 0 auto;
}

.shopCollectionSwiper .swiper-slide {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

.shopCollectionSwiper .swiper-slide h3 {
  margin-top: 36px;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.84px;
  color: var(--primary-color);
}

.shopCollectionSwiper .swiper-slide img {
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.collection-swiper-arrows-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .collection-swiper-header-container {
    padding: 72px 18px 0 18px;
  }

  .collection-swiper-arrows {
    display: none;
  }
  .collection-swiper-arrows-mobile {
    margin-top: 27px;
    margin-left: 18px;
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .shop-collection-section {
    padding-bottom: 72px;
    margin: 36px auto 0 auto;
  }
  .collection-swiper-inner {
    margin-left: 18px;
  }

  .shopCollectionSwiper .swiper-slide {
    font-size: 18px;
    max-width: 275px;
  }
  .shopCollectionSwiper .swiper-slide img {
    max-width: 100%;
    height: 250px;
  }
  .shopCollectionSwiper .swiper-slide h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.48px;
  }
}
