.tags-slider {
  overflow: hidden;
  margin-top: 36px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.tags-track {
  display: flex;
  gap: 24px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.tags-track img {
  max-width: 151px;
  height: 76px;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .tags-slider {
    margin: 13px auto;
  }
}
