.tags-slider {
  overflow: hidden;
  width: 100%;
  position: relative;
  max-width: var(--container-width);
  margin: 36px auto 0 auto;
}

.tags-track {
  display: flex;
  gap: 60px;
  width: max-content;
  position: relative;
  left: 0;
}

.tags-track img {
  max-width: 151px;
  height: 76px;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .tags-slider {
    margin: 13px auto;
  }
  .tags-track {
    gap: 36px;
  }
  .tags-track img {
    max-width: 102px;
    height: 52px;
  }
}
