/* Testimonial Section */
.testimonial-section {
  max-width: var(--container-width);
  margin: 0 auto;
  height: 426px;
  text-align: center;
  background-color: var(--seconday-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-section .swiper {
  width: 100%;
}

.testimonialSwiper .swiper-slide {
  width: 617px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-right: 1px solid #91c788;
}

.testimonialSwiper .swiper-slide:last-child {
  border-right: none;
}

.testimonial-text {
  margin-bottom: 18px;
  font-family: Recoleta;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--primary-color);
  width: 617px;
}

.testimonial-author {
  font-family: CircularXX;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--primary-color);
}

@media (max-width: 1024px) {
  .testimonialSwiper .swiper-slide {
    width: 80%;
    border-right: none;
  }
    .testimonial-text {
    width: 500px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .testimonialSwiper .swiper-slide {
    width: 292px;
    border-right: none;
    padding: 0 5px;
  }
  .testimonial-text {
    width: 292px;
    font-size: 20px;
    line-height: 24px;
  }
}
