/* @font-face {
  font-family: 'Recoleta';
  src: url(../asset/fonts/Recoleta/recoleta-regular.otf);
} */

@font-face {
  font-family: 'Recoleta';
  src: url('../asset/fonts/Recoleta/recoleta-regular.otf');
}
@font-face {
  font-family: 'Recoleta';
  src: url('../asset/fonts/Recoleta/recoleta-medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../asset/fonts/Recoleta/recoleta-semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../asset/fonts/Recoleta/recoleta-bold.otf');
  font-weight: 700;
  font-style: normal;
}

.testimonial-section {
  max-width: 1440px;
  margin: 0 auto;
  height: 258px;
  text-align: center;
  background-color: var(--seconday-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-section .swiper {
  width: 100%;
}

.testimonialSwiper .swiper-slide {
  width: 617px;
  margin-left: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  box-sizing: border-box;
  position: relative;
}

/* Separator line only on the right side of each slide */
.testimonialSwiper .swiper-slide::after {
  content: '';
  position: absolute;
  top: 15%;
  right: -45px; /* half of 90px gap */
  width: 1px;
  height: 80%;
  background-color: #91c788;
}

/* Remove line from last visible slide */
.testimonialSwiper .swiper-slide:last-child::after {
  display: none;
}

.testimonial-text {
  margin-bottom: 18px;
  font-family: Recoleta;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--primary-color);
  width: 617px;
}

.testimonial-author {
  font-family: CircularXX;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--primary-color);
}

/* Responsive */
@media (max-width: 1024px) {
  .testimonialSwiper .swiper-slide {
    width: 80%;
  }
  .testimonialSwiper .swiper-slide::after {
    display: none; /* no line for tablet */
  }
}

@media (max-width: 768px) {
  .testimonialSwiper .swiper-slide {
    width: 100%;
  }
  .testimonialSwiper .swiper-slide::after {
    display: none;
  }
  .testimonial-text {
    width: 292px;
    font-size: 20px;
    line-height: 24px;
  }
}